
@media (min-width: 769px) {
    .toggle-button {
        display: none;
    }
    .content {
      padding-left: 300px; /* Push the content to the right of the fixed bar */
  }

  .logo {
      max-width: 100%; /* This will maintain the aspect ratio of the image */
  }


  .bar {
      flex-grow: 1;
      flex-direction: column;
      display: flex;
      height: 100%; /* Set the content height to the full container height */
  }

  .bar-menu {
      flex-grow: 1;
  }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
      margin-top: 80px; /* Push the content to below the fixed bar */
      padding-left: 14px;
      padding-right: 14px;
  }

  .logo {
      max-height: 40px; /* This will maintain the aspect ratio of the image */
      width: auto;
      transition: max-height 0.3s ease-in-out;
  }

  .bar.expanded .logo {
      max-height: 160px;
  }

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    height: 10%;
    transition: height 0.3s ease-in-out;
    z-index: 9999;
}

.bar.expanded {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 9;
  height: 100%; /* Set the content height to the full container height */
}
.bar-menu, .bar-footer {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.bar.expanded .bar-menu {
    opacity: 1;
    flex-grow: 1;
}

.bar.expanded .bar-footer {
    opacity: 1;
}
.bar-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.toggle-button {
    transition: transform 0.4s ease-in-out;
    height: 36px;
    margin-left: auto;
}
.toggle-button:hover path{
  fill: #A36621;
}
.bar.expanded .toggle-button {
    transform: rotate(225deg);
}

}
@media screen and (max-width:767px){
    .firstBox{
        background-color: unset;
    }
}
@media (max-width: 640px) {
    .company-logo{
        margin-top: 10px !important;
    }
    .slide-container {
       
        max-width: 300px;
    }
    .content-header h1.flex{
        display: block;
    }
    .product-logo{
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .legal .legal__links{margin-left: 0;}
    .three-row .text-content p,
    .box-inner p,
    .Quality-ul li{
        font-size: 20px;
    }
    .bullet-list2{
        flex-direction: column;
    }
    .book-demo h2 {
        text-align: center;
        font-size: 32px;
    }
    .three-box {
        padding: 0 0px;
    }
    .content-footer {
       
        padding: 70px 19px 32px;
    }
    .docmo-section {
        padding: 50px 0;
    }
    .email-temp input{
        width: 100%;
    }
    .bullet-list2__inner{
        flex-direction: column !important;
        margin: 0 auto;
        justify-content: center;
    }
    .rendering,
    .rendering2{
        margin-bottom: 10px;
    }
    .docmo-title{
      font-size: 35px !important;
      line-height: 58px;
  }
  .flex-class{
    flex-direction: column;
  }
  .product-logo{
    height: unset;
    margin-bottom:35px !important;
  }
  .main-embedded {
   
    padding: 32px 27px;
    margin: 52px auto;
}
  .docmo-description{
      font-size: 18px;
  }
  .description-block {
    width: 100%;
    margin: 37px 0 10px;
}
.facts-container{
    display: none;
}
.descriptions-container {
    display: block;
    padding: 0 20px;
}
.three-row .image-box,.three-row .text-content {
    width: 100%;
    padding-right: 0;
    padding-left: 0 !important;
}
.box-inner {
    width: 100%;
    margin: 0 0 40px;
}
.bullet-list li {
    width: 100%;
}
ul.bullet-list{
    display: inline-block;
}
.meta-block .info-item {
    width: 100%;
}
.three-row .image-box img {
   
    margin-top: 15px;
}
.three-row{
    margin-top: 25px !important;
}
.three-row .text-content p {
    padding-top: 4px;
}
.case-study-outer {
    display: block;
    margin: 0 0 20px;
}
.case-study-box {
    width: 100%;
    margin: 0 0 15px 0;
}
.case-study-box img.product-logo{
    margin: auto;
}
.three-box-outer{
    display: block;
}
.three-row {
    display: block;
}
.marquee-img{
    width: 95px;
}
.video-wrapper{
    max-width: 300px;
}
}